/* CSS file for settings page */ 
.hidden {
    display: none!important;
}

.section-header {
    margin: 13px 0 13px 8px;
}

.settings {
    outline: none;
}

.buttonsWrapper {
  margin-top: 1em;
}

.buttonsWrapper .error {
  margin-left: 0;
}

.options-loader {
  display: inline-block;
  padding-left: 4px;
}

.imagesTableWrapper {
    margin-bottom: 0.5em;
}

/* CSS for Cloud image dialog box.*/
.orderedListNote
{
	padding-left: 10px;
	margin-top: 3px
}

#imageChangeMesssage {
	margin-top: 4%;
	padding: 2%;
	background-color: beige;
	border: 1px solid #f8d1a2;
}

.greyFont {
	color: grey;
}

#imageChangeMesssage i ul {
	margin: 0.5%;
	max-height:70px;
    overflow-y:auto;
}