/* CSS file for settings page */ 
.hidden {
    display: none!important;
}

.section-header {
    margin: 13px 0 13px 8px;
}

.settings {
    outline: none;
}

.buttonsWrapper {
  margin-top: 1em;
}

.buttonsWrapper .error {
  margin-left: 0;
}

.options-loader {
  display: inline-block;
  padding-left: 4px;
}

.imagesTableWrapper {
    margin-bottom: 0.5em;
}
